@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #120078 url(assets/irina-iriser-dxk6tMxNkJY-unsplash.jpg)
    no-repeat center center/cover;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 300px;
  width: 300px;
  position: relative;
  transform: scale(1);
}

.circle {
  background-color: #16213e;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
