/* Background color */
.main {background-color: black !important;}
p {font-size:20px;}

/* Font positioning and sizing for main content title */
.masthead h1.ui.header {margin-top: 0em; margin-bottom: 0em; font-size: 3em; font-weight: bold; color: white}

/* Font color */
h2.ui.huge.header {color: white}
h3.ui.huge.header {color: white}
h4.ui.large.header {color: white}

/* Main Content Background Video */
    @media (min-aspect-ratio: 16/9) {
        #videoBG {width:100%; height: auto;}
    @media (max-aspect-ratio: 16/9) {
        #videoBG {width:auto; height: 100%;}}}

/* Video Overlay CSS - Left Title */
#container {
    width: 100%;
    overflow: hidden;
    position: relative;
} 
.imgtitle {
    font-size: 30px;
    font-weight: bold;
    color: black;
    font-style: italic;
    background-color: rgb(201, 157, 140);
    border-radius: 1em;
    border: black;
    border-style: solid;
}
.leftcontent {
    position: absolute;
    top: 28%;
    left: 18%;
    width: 300px;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 10px;
    color: rgb(65, 202, 65);
    text-emphasis: bold;}

/* Video Overlay CSS - Right Title */
.rightcontent {
    position: absolute;
    top: 28%;
    left: 82%;
    width: 300px;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 10px;}

.glow {
        color: rgb(51, 13, 13);
        text-align: center;
        font-style: italic;
        border-radius: 1em;
        -webkit-animation: glow 3s ease-in-out infinite alternate;
        -moz-animation: glow 3s ease-in-out infinite alternate;
        animation: glow 3s ease-in-out infinite alternate;
        padding: 10px; 

      }
      
@-webkit-keyframes glow {
from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}
to {
    text-shadow: 0 0 15px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}}